<!-- &&&&&&&&&&&&&&&&&&&need error handling&&&&&&&&&&&&&&&&& -->
<!-- Formating page -->
<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<!-- Adding form -->
			<h3>জন্ম ও শিক্ষাজীবন</h3>
	      		<p> {{ items.rank }} {{ items.name }} {{ items.birth }}সালে {{ items.address }} জন্মগ্রহণ করেন। {{ items.family_members }}। {{items.education }}</p>
	      	<h3>কর্মজীবন</h3>
	      		<p>{{ items.profission }}</p>
	      	<h3>মুক্তিযুদ্ধের গল্প ১ </h3>
	      		<p>{{ items.story_1 }}</p>	
	      	<h3>মুক্তিযুদ্ধের গল্প ২  </h3>
	      		<p>{{ items.story_2}}</p>

	      	<!-- 	<input type="text" name="rank" class="form-control" id="rank" value="{{ items.rank }}">
	      		<input type="text" name="birth" class="form-control" id="birth" value="{{ items.birth }}">
	      		<input type="text" name="death" class="form-control" id="death" value="{{ items.death }}">
			    
			    <input type="text" name="education" class="form-control" id="education" value="{{items.education }}">
			    <input type="text" name="profission" class="form-control" id="profission" value="{{ items.profission }}">
			    <textarea name="address" id="address"  class="form-control" cols="30" rows="2">{{ items.address }}</textarea>
	      		<input type="text" name="family_members" class="form-control" id="family_members" value="{{ items.family_members }}">
	      		<input type="text" name="story_1" class="form-control" id="story_1" value="{{ items.story_1 }}">
	      		<input type="text" name="story_2" class="form-control" id="story_2" value="{{ items.story_2 }}">
	    	
	      		<input type="text" name="peoples_say" class="form-control" id="peoples_say" value="{{ items.peoples_say }}">
 -->
		</div>
	</div>
</div>